html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
#wpadminbar {
  @media (max-width: 600px) {
    position: fixed;
  }
}
.main-content {
  padding: 21px 0;
}