/* Fonts */
$fonts: "../fonts"; // Fonts path
$font-family-roboto: Roboto, sans-serif;

/* Images */
$images: "../images"; // Images path

/* WP admin */
$wp-admin-bar-height-desktop: 32px;
$wp-admin-bar-height-mobile: 46px;
$wp-admin-screen-md-max: 783px;
$wp-admin-screen-xs-max: 600px;
